@font-face {
    font-family: 'melma_blackregular';
    src: url('../css/fonts/melma-webfont.woff2') format('woff2'),
         url('../css/fonts/melma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spartan_mbbold';
    src: url('../css/fonts/spartanmb-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/spartanmb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spartan_mbregular';
    src: url('../css/fonts/spartanmb-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/spartanmb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'melma_blackregular';
    font-weight: 400;
    line-height: 110%;
    transition: font-size 0.025s;
}
h1 { font-size: 4rem; margin: 2.5rem 0 1.5rem 0 }
h2 { font-size: 3.5rem; margin: 2.2rem 0 1.3rem 0 }
h3 { font-size: 3rem; margin: 1.9rem 0 1.1rem 0 }
h4 { font-size: 2.5rem; margin: 1.6rem 0 1.9rem 0 }
h5 { font-size: 2rem; margin: 1.3rem 0 0.7rem 0 }
h6 { font-size: 1.5rem; margin: 1rem 0 0.5rem 0 }
* {
    font-family: 'spartan_mbregular';
    padding: 0;
    margin: 0;
}
.tomelma {font-family: 'melma_blackregular'}
.tospartan {font-family: 'spartan_mbregular'}

body {
    color: #fafafa;
    overflow-x: hidden !important;
    background-color: red;
}
html{ scroll-behavior: smooth; }

html, body {
    height: 100%;
}
.noclickable {pointer-events: none;}
.material-icons { font-family: 'Material Icons' !important; }
input[type="text"] + label { pointer-events: none; }
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.a-enter-ar-button, .a-enter-vr-button {z-index: 999 !important;}
a { text-decoration: none;}
.material-icons { font-family: 'Material Icons' !important; }

.right { float: right !important; }
.center { text-align: center;}
.toUpperCase { text-transform: uppercase; }

header {
    width: 100%;
    height: 100%;
    background-image: url("../images/fondo_estribos.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
    position: relative;
    z-index: 1;
}

.big-logo, .godown {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
.big-logo svg {
    max-width: 30vw;
    height: auto;
    transition: max-width 0.1s;
}
.big-logo { 
    top: 50%;
    transform: translate(-50%, -75%);
}
.godown {
    bottom: 100px;
    font-size: 40px;
    color: #fafafa;
}
.iconeffect {
    border-radius: 50%;
    box-shadow: 0 0 2px -1px white;
    opacity: 0.90;
}
    .iconeffect:hover {
        box-shadow: 0 0 3px -1px white;
        opacity: 0.95;
        cursor: pointer;
        transition: all 100ms;
    }

.page {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    background-color: inherit
}

nav {
    height: 80px;
    line-height: 80px;
    border-top: 1px solid rgba(255,255,255,0.075); border-bottom: 1px solid rgba(255,255,255,0.075);
    background-color: #424953;
    z-index: 1000;
    display: block;
    width: 100%;
    /*color: #fff;*/
    /*width: 100%;*/
}

nav .nav-wrapper {
    height: 100%;
    box-sizing: inherit;
}

nav .nav-wrapper .nav-logo {
    height: 100%;
    display: inline-block;
}
nav .nav-wrapper .nav-logo svg {
    max-height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav .nav-wrapper ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

nav .nav-wrapper ul li {
    list-style-type: none;
    transition: background-color .3s;
    float: left;
    padding: 0;
}

nav .nav-wrapper ul li a{
    transition: background-color .3s;
    font-size: 1rem;
    color:#fafafa;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.fixed {
    position: fixed !important;
    top: 0 !important;
    /* margin-bottom: 80px !important; */
}

nav.fixed {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.page > div {
    padding: 80px 0;
}

.curly{
    height: 50px;
    width: 200px;
    margin: 25px auto;
}

.padding-section {
    padding-left: 10% !important;
    padding-right: 10% !important;
    transition: all 0.05s;
}

/* PRESENTACION */
#presentacion {
    background-color: #a06732;
    min-height: 600px;
}

/* 360 */
.a360 {
    position: relative;
    background-image: linear-gradient(#a06732 50%,#37474f 50%);
}
.jump360 {
    position: absolute;
    right: 25px;
    top: 105px;
    font-size: 40px;
    color: #fafafa;
    z-index: 999;
}

.vr360 {
    height: 600px;
    width: 100%;
    max-height: calc(100vh - 160px);
}

/* VENTAJAS */
#ventajas {
    background-color: #37474f;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 80px !important;
}

.items > div {
    width: 100%;
    margin: 15px 0
}

.index {
    font-size: 1.75rem;
    line-height: 1;
}

.carrusel {
    height: 500px;
}
.carrusel * {
    padding: 0 !important;
    margin: 0 !important;
}

.infobox-padding {
    padding: 20px 0 !important;
}

.infobox {
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.025);
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.5);
}

#description {
    padding: 0 15% !important;
    transition: padding 0.05s;
}

.controllers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    position: absolute;
    width: 100%;
    bottom: 30px;

    font-size: 30px;
}
#toleft {
    justify-self: end;
}
#toright {
    justify-self: start;
}

.imgbox {
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.5);
    overflow: hidden;
}

.imgbox > div {
	height: 500px !important;
}

#placeimg {
    height: 100%;
}

/* FINCAS */
#fincas {
    background-color: #37474f;
    position: relative;
    /* width: 1920px;
    left: 50%;
    transform: translateX(-50%); */
}

.carousel {
    height: calc(100vh - 160px) !important;
    /* min-width: 1920px !important;
    height: auto;     */
    /* left: 50%;
    transform: translateX(-50%); */

}

.carousel.carousel-slider .carousel-item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* #fincas .cont {
	margin: 0 auto;
	width: 50%;
	background-color: white;
}

.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 66.667%;
	background-color: #ddd;
}

.image-holder {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.gallery-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
	width: 23%; 
	display: inline-block;
	background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
	font-size: 0;
	border-top: none;
}
.move-btn {
	display: inline-block;
	width: 50%;
	border: none;
  color: #ccc;
	background-color: transparent;
	padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; } */

/* CONTACTO */
#contacto {
    position: relative;
    background-color: #37474f;
}


@media only screen and (max-width: 993px){ 
    .m0 { display: none; }
    h1 { font-size: 3.5rem; margin: 2.2rem 0 1.3rem 0 }
    h2 { font-size: 3rem; margin: 1.9rem 0 1.1rem 0 }
    h3 { font-size: 2.5rem; margin: 1.6rem 0 1.9rem 0 }
    h4 { font-size: 2rem; margin: 1.3rem 0 0.7rem 0 }
    h5 { font-size: 1.5rem; margin: 1rem 0 0.5rem 0 }
    h6 { font-size: 1rem; margin: 0.7rem 0 0.3rem 0 }
    .items {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 4%;
        padding-right: 4%;
    }
    .padding-section {
        padding-left: 7.5% !important;
        padding-right: 7.5% !important;
    }
    #description {
        padding: 0 10% !important;
    }
    .infobox-padding {
        padding: 0px 20px !important;
    }
    nav .nav-wrapper.padding-section {
        padding: 0 !important;
    }
    nav .nav-wrapper .nav-logo{
        width: 100%;
        text-align: center;
    }
    .big-logo svg {
        max-width: 60vw;
    }
    nav .nav-wrapper svg {
        position: relative !important;
    }
}

@media only screen and (max-width: 601px){
    .s0 { display: none; }
    h1 { font-size: 3rem; margin: 1.9rem 0 1.1rem 0 }
    h2 { font-size: 2.5rem; margin: 1.6rem 0 1.9rem 0 }
    h3 { font-size: 2rem; margin: 1.3rem 0 0.7rem 0 }
    h4 { font-size: 1.5rem; margin: 1rem 0 0.5rem 0 }
    h5 { font-size: 1rem; margin: 0.7rem 0 0.3rem 0 }
    .items {
        grid-template-columns: 1fr;
        padding-left: 8%;
        padding-right: 8%;
    }
    .padding-section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #description {
        padding: 0 7.5% !important;
    }
    .big-logo svg {
        max-width: 80vw;
    }
    nav .nav-wrapper.padding-section {
        padding: 0 !important;
    }
    nav .nav-wrapper svg {
        position: relative !important;
    }
}
    