@font-face {
    font-family: 'melma_blackregular';
    src: url('../css/fonts/melma-webfont.woff2') format('woff2'),
         url('../css/fonts/melma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'spartan_mbbold';
    src: url('../css/fonts/spartanmb-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/spartanmb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'spartan_mbregular';
    src: url('../css/fonts/spartanmb-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/spartanmb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5 {
    font-family: 'melma_blackregular';
}
* {
    font-family: 'spartan_mbregular';
}
.tomelma {font-family: 'melma_blackregular'}
.tospartan {font-family: 'spartan_mbregular'}
p {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1rem;
}

body {
    background-color: #a06732;
    color: #fafafa;
    overflow-x: hidden !important;
}
html{
    scroll-behavior: smooth;
}
.noclickable {pointer-events: none;}
.material-icons { font-family: 'Material Icons' !important; }
input[type="text"] + label { pointer-events: none; }
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.a-enter-ar-button, .a-enter-vr-button {
    z-index: 999 !important;
}

.main {
    width: 100%;
    background-image: url("../images/dummy.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    /* background-size: cover; */
    background-origin: border-box;
    background-attachment: fixed;
}

.godown {
    position: absolute;
    right: calc(50% - 20px);
    bottom: 100px;
    font-size: 40px;
    color: #fafafa;
}

.iconeffect {
    border-radius: 50%;
    box-shadow: 0 0 2px -1px white;
    opacity: 0.90;
}
    .iconeffect:hover {
        box-shadow: 0 0 3px -1px white;
        opacity: 0.95;
        cursor: pointer;
        transition: all 100ms;
    }

nav {
    height: 80px;
    line-height: 80px;
    border-top: 1px solid rgba(255,255,255,0.075); border-bottom: 1px solid rgba(255,255,255,0.075);
    /*color: #fff;*/
    background-color: #424953;
    /*width: 100%;*/
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2); */
    z-index: 1000;
}
nav .sidenav-trigger {
    height: 80px !important;
    line-height: 80px !important;
}
nav .sidenav-trigger i {
    height: 80px !important;
    line-height: 80px !important;
}

.fixed {
    position: fixed !important;
    top: 0 !important;
    margin-bottom: 80px !important;
}


.sections .section {
    /* min-height: 800px; */
    padding-left: 60px;
    padding-right: 60px;    
}

.section.a {
    padding-left: 15% !important;
    padding-right: 15% !important;
    background-color: #a06732;
    min-height: 600px !important
}

.curly{
    height: 50px;
    width: 200px;
    margin: auto;
}

.vr360 {
    height: 600px;
    width: 100%;
}

.section.b {
    padding: 0;
    min-height: unset;
    height: 600px !important;
    background: #37474f !important;
}

.items {
    margin-bottom: 50px;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.index {
    font-size: 1.75rem;
    line-height: 1;
}

#carrusel .col {
    padding: 0 !important;
}

.frame {
    margin: 20px 0 20px 20px;
    /* padding: 10px 0 10px 10px; */
    height: 500px;
    position: relative;
    width: 100%;
    border: 7px solid #fafafa;
}
.frame .children {
    position: absolute;
    height: inherit;
    width: 100%;
    padding: 10% 20%;
    text-align: center;
}
    .frame .children::before {
        content: "";
        height: 90px;
        width: 90px;
        position: absolute;
        background-color: #37474f;
        top: -52px;
        left: -52px;
        border: 7px solid #fafafa;
        border-left: 7px solid transparent;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-radius: 60px;
        transform: rotate(45deg);
    }
    .frame .children::after {
        content: "";
        height: 90px;
        width: 90px;
        position: absolute;
        background-color: #37474f;
        bottom: -38px;
        left: -52px;
        right: unset;
        top: unset;
        border: 7px solid #fafafa;
        border-left: 7px solid transparent;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-radius: 50%;
        transform: rotate(-45deg);
        
    }
.frame .children h3, .frame .children h4{
    margin: 0;
}

.swap {
    font-size: 2rem;
}

.imgframe {
    margin:5px 0 0 -20px;
    min-height: calc(500px + 30px);
    position: relative;
    width: 100%;
}
.imgframe .children {
    position: absolute;
    min-height: inherit;
    width: inherit;
    background-size: cover;
    background-position: center;
}


.section.d {
    padding-top: 50px;
}

.fullframe {
    margin: 50px 5px 50px 5px;
    border: 7px solid #fafafa;
    min-height: 200px;
    position: relative;
    text-align: center;
}

.fullframe .left-child {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
}
.fullframe .left-child::before{
    content: "";
    height:90px;
    width:90px; 
    position: absolute; 
    background-color: teal;
    border: 7px solid #fafafa;
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-radius: 50%;
    top: -52px;
    left: -52px;
    transform: rotate(45deg);

}
.fullframe .left-child::after {
    content: "";
    height:90px;
    width:90px; 
    position: absolute; 
    background-color: teal; 
    border: 7px solid #fafafa;
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-radius: 50%;
    bottom: -52px;
    left: -52px;
    transform: rotate(-45deg);
}

.fullframe .right-child {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
}
.fullframe .right-child::before{
    content: "";
    height:90px;
    width:90px; 
    position: absolute; 
    background-color: teal;
    border: 7px solid #fafafa;
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-radius: 50%;
    top: -52px;
    right: -52px;
    transform: rotate(135deg);

}
.fullframe .right-child::after {
    content: "";
    height:90px;
    width:90px; 
    position: absolute; 
    background-color: teal;
    border: 7px solid #fafafa;
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-radius: 50%;
    bottom: -52px;
    right: -52px;
    transform: rotate(-135deg);
}

.fullframe .content-child {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px;
}
.fullframe .content-child *{
    margin: 0;
}

/*FORM*/
:root {
    --formLabelFontSize: 0.8rem; /* var(--formLabelFontSize) */
    --formLabelColor: #fafafa; /* var(--formLabelColor) */
    --formBackgroundColor: #fafafa; /* var(--formBackgroundColor) */
}

.select-wrapper input.select-dropdown, .dropdown-content li > a, .dropdown-content li > span {
    font-size: 1rem;
    color: #212121
}

form > .row {
    margin: 10px 0 0 0 ;
}

.input-field > label {
    font-size: var(--formLabelFontSize);
    color: #212121 !important
}
.input-field > label.active {
    color: #fafafa !important
}

input[type="text"]:not(.browser-default), 
input[type="email"]:not(.browser-default)  {
    background-color: var(--formBackgroundColor) !important;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    padding: 0 1rem;
    width: calc(100% - 2rem);
}

input.valid[type="text"]:not(.browser-default), input.valid[type="email"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default).validate, input.valid[type="email"]:not(.browser-default).validate {
    border-bottom: 1px solid var(--formLabelColor);
    -webkit-box-shadow: 0 1px 0 0 var(--formLabelColor);
    box-shadow: 0 1px 0 0 var(--formLabelColor);
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label {
    font-size: var(--formLabelFontSize);
    transition: all .2s;
    top: -0rem;
    text-shadow: 0 0 1px rgba(5, 0, 0, 0.25);
    color: var(--formLabelColor)
}

input[type="text"]:not(.browser-default).validate + label.active,
input[type="email"]:not(.browser-default).validate + label.active,
textarea.materialize-textarea:not(.browser-default) + label.active{
    font-size: var(--formLabelFontSize);
    top: -0.5rem;
    text-shadow: 0 0 1px rgba(250, 250, 250, 0.25);
    color: var(--formLabelColor)
}

input[type="text"]:not(.browser-default), input[type="email"]:not(.browser-default) {
    color: #212121;
}
input[type="email"]:not(.browser-default).validate.invalid + label.active {
    color: #fafafa;
    font-size: var(--formLabelFontSize);
    text-shadow: 0 0 1px rgba(250, 250, 250, 0.25);
}

input {
    color: var(--formLabelColor);
}

label {
    font-family: 'Lato', sans-serif;
}

.input-field.col label {
    left: 1.25rem;
    color: var(--formLabelColor)
}

input[type="text"]:not(.browser-default).invalid ~ .helper-text[data-error] {
    font-size: 12px;
    text-shadow: 0 0 1px rgba(250, 250, 250, 0.25);
}
input:not([type]).invalid ~ .helper-text::after, input:not([type]):focus.invalid ~ .helper-text::after, input[type="text"]:not(.browser-default).invalid ~ .helper-text::after, input[type="text"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="password"]:not(.browser-default).invalid ~ .helper-text::after, input[type="password"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="email"]:not(.browser-default).invalid ~ .helper-text::after, input[type="email"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="url"]:not(.browser-default).invalid ~ .helper-text::after, input[type="url"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="time"]:not(.browser-default).invalid ~ .helper-text::after, input[type="time"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="date"]:not(.browser-default).invalid ~ .helper-text::after, input[type="date"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="datetime"]:not(.browser-default).invalid ~ .helper-text::after, input[type="datetime"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="datetime-local"]:not(.browser-default).invalid ~ .helper-text::after, input[type="datetime-local"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="tel"]:not(.browser-default).invalid ~ .helper-text::after, input[type="tel"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="number"]:not(.browser-default).invalid ~ .helper-text::after, input[type="number"]:not(.browser-default):focus.invalid ~ .helper-text::after, input[type="search"]:not(.browser-default).invalid ~ .helper-text::after, input[type="search"]:not(.browser-default):focus.invalid ~ .helper-text::after, textarea.materialize-textarea.invalid ~ .helper-text::after, textarea.materialize-textarea:focus.invalid ~ .helper-text::after, .select-wrapper.invalid ~ .helper-text::after {
    color: #fafafa !important
}

textarea.materialize-textarea {
    max-height: 250px;
    min-height: 6rem;
    overflow-y: visible !important;
    background-color: var(--formBackgroundColor);
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid rgba(255, 250, 250, 0.5);
    border-radius: 1px;
    padding: 0.8rem 1rem;
    color: var(--formLabelColor)
}


@media only screen and (max-width: 992px){ 
    .m0 { display: none; }
    .sections .section {
        padding-left: 0px;
        padding-right: 0px;    
    }
    .frame {
        margin: 0 10px 0 10px;
        width: auto;
        height: 450px;
    }
    .frame .children {
        min-height: inherit;
        width: 100%;
        padding: 5% 10% !important;
    }
        .frame .children::after {
            background-color: #37474f;
            top: -52px;
            left: unset !important;
            right: -52px !important;
            transform: rotate(135deg);
        }
    .imgframe {
        margin: -20px 0 0 0 !important;
        height: 400px;
    }

    .vr360 {
        height: calc(99vh - 80px);
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .s0 { display: none; }
    .frame .children {
        min-height: inherit;
        width: 100%;
        padding: 10% 10% !important;
    }
}
    